.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--background-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateY(-100%); /* Hide initially */
  font-family: var(--font-family-header);
  font-size: var(--font-size-navMenu);
}

.menu-container.show {
  transform: translateY(0); /* Show when open */
}

.menu-content {
  flex-grow: 1;
  width: 100%;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}




