.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateY(-100%); /* Hide initially */
  font-family: var(--font-family-header);
  font-size: var(--font-size-navMenu);
}

.menu-item {
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly shifted down */
  animation: fadeInUp 0.5s ease forwards;
  color: var(--maintext-color);
}

.menu-item-content {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease; /* Smooth hover scaling */
}

/* Hover effect for the link */


.menu-item {
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly shifted down */
  animation: fadeInUp 0.5s ease forwards;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Add smooth transition for appearance */
}

.menu-item:hover li.menu-item {
  color: var(--everdark-color1)!important;
}

.menu-item:hover .menu-item-content {
  transform: scale(1.05); /* Slight scale-up on hover */
  transition: transform 0.5s ease; /* Smooth scaling effect */
}

.menu-item {
  transition: color 0.5s ease, transform 0.3s ease; /* Extend color transition for smoothness */
}

.menu-item:hover .menu-bullet-logo {
  transform: scale(1.2);
  transition: transform 0.5s ease; /* Smoother scale transition */
}

/* Optional smooth transition on the logo bullet */
.menu-bullet-logo {
  transition: transform 0.3s ease; /* Transition for bullet logo */
}

/* Scale the logo bullet slightly when hovered */
.menu-item:hover .menu-bullet-logo {
  transform: scale(1.2);
}

.menu-container.show {
  transform: translateY(0); /* Show when open */
}

.menu-content {
  flex-grow: 1;
  width: 100%;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item-content {
  display: flex;
  align-items: center;
}

.menu-bullet-logo {
  margin-right: 10px; /* Adjust this value to control spacing */
}

.menu-link {
  transition: color 0.3s ease;
}

.menu-link {
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: var(--maintext-color);
}

/* .menu-item-link:hover {
  color: var(--everdark-color1);
} */