/* accordion.css */

/* Accordion content animation */
.accordion-content {
  opacity: 0; /* Default hidden state */
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1; /* Fade-in effect */
}

.hidden {
  opacity: 0; /* Keeps the element hidden when not visible */
}

/* Accordion container styles */
.accordion {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 var(--form-spacing);
}

.accordion-item {
  margin: var(--form-spacing) 0;
  border-radius: var(--input-radius);
  transition: var(--primaryTransition);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: var(--gradientBG1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: var(--input-radius);
}

.accordion-title {
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-paragraph);
  color: var(--maintext-color);
}

.accordion-icon {
  color: var(--secondary-color);
  transition: transform 0.3s ease;
}

.accordion-icon.open {
  transform: rotate(180deg); /* Rotate icon when open */
}

.accordion-content {
  padding: 20px;
  color: var(--maintext-color);
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--transparentFade-bg1);
}

.faq-q {
  border: var(--borderBeforeHover);
}
