@media (min-width: 768px) {
  .about-info-box {
    flex: 1 1 calc(33.33% - 20px); /* Three equal columns */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    max-width: calc(33.33% - 20px); 
    min-height: max-content;
    flex-grow: 1;
    /* width: 30%; */
  }
}

@media (max-width: 768px) {
  .about-info-box {
    flex: 1 1 calc(40% - 20px); /* Three equal columns */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    max-width: calc(40% - 20px); /* Prevents boxes from growing larger than one-third */
    min-height: max-content;
  }
}