/* fields.css */

.form-field-wrapper {
    width: 100%;
    transition: opacity 0.8s ease; /* Only animate opacity */
    
  }
  
  input,
  textarea {
    padding: 15px 20px;
    background: var(--gradientBG1);
    color: var(--maintext-color);
    border: var(--borderBeforeHover);
    transition: border 0.3s, background-color 0.3s;
    font-size: var(--font-size-p-small);
    font-family: var(--font-family-sans-serif);
    outline: none;
    border-radius: var(--input-radius);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-normal);
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    height: 150px;
  }
  
  /* Animation classes */
  .fade-out {
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  /* Autofill styling */
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background: var(--transparentFade-bg1) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--maintext-color);
    transition: background-color 5000s ease-in-out 0s;
  }
  