---
// src/Sections/Header.astro
import HamburgerIcon from "../components/Menu/HamburgerIcon.jsx";
import HamburgerMenu from "../components/Menu/HamburgerMenu.jsx";
import Logo from "../components/Logo/Logo.astro";
import ThemeControls from "../components/ThemeControls/ThemeControls.jsx";

const checkboxId = "nav-toggle";
---

<>
  <header
    class="fixed inset-x-0 top-0 bg-transparent z-[99999] w-19/20 lg:9/10 mx-auto"
  >
    <div class="flex items-center justify-between py-2">
      <Logo
        loading="eager"
        trigger="scroll"
        animateOutText={true}
      />

      <!-- Hidden checkbox for state -->
      <input id={checkboxId} type="checkbox" class="hidden" />

      <ThemeControls client:load />

      <!-- Hamburger/X Button -->
      <HamburgerIcon
        checkboxId={checkboxId}
        className="text-heading transition-colors duration-300"
        client:load
      />
    </div>
  </header>

  <!-- Navigation Modal -->
  <HamburgerMenu checkboxId={checkboxId} client:load />
</>
