/* why-choose-us.css */
@media (min-width: 768px) {
    .whyChoose {
        align-items: left;
    }
}

@media (max-width: 768px) {
    .whyChoose {
        align-items: center;
    }

    .whyChoose h2 {
        font-size: 26px;
    }
}

.choose-info {
    height: max-content;
}
